body  {
scrollbar-face-color: white; 
scrollbar-shadow-color: grey; 
scrollbar-highlight-color: white; 
scrollbar-3dlight-color: grey; 
scrollbar-darkshadow-color: white;
scrollbar-track-color: #f7f7f7; 
scrollbar-arrow-color: #c0c0c0;
}

.color-title		{background-color:#888885;color:white;ackground-color:#7A8FA4;}
.color-header		{background-color:#ddddd5;}
.color-buttons		{background-color:#ccccc5;}
.color-border		{background-color:#666666;}
.color-label		{color:black;}

.color-row			{background-color:#fffff5;}
.color-rowalert		{background-color:#ffddaa;}

select				{background-color:#ffffff;}

.buttn,.buttnText	{font-size:70%;font-family: tahoma,arial,Geneva,Helvetica,sans-serif;background-color:#e0e0d5;}
.buttn-fix 			{font-size:11px;font-family: tahoma,arial,Geneva,Helvetica,sans-serif;background-color:#e0e0d5;}

.form-title			{color:white;font-size:11px;}
	
a 					{color:blue; text-decoration:none;font-size:11px;}
a:hover 			{text-decoration:underline; color:339900;}
.tabs		 		{font-family:tahoma,arial,geneva,sans-serif; font-size: 10px;}
a.link:hover		{text-decoration:underline; color:blue;font-size:11px;}
a.link:visited		{color:blue;font-size:11px;}

.label,.text,.link 	{font-size:11px;font-family: tahoma,arial,Geneva,Helvetica,sans-serif;}
.nospace			{line-height:2px;}
.sentance,ul 		{FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 80%; LINE-HEIGHT: 131%}

td,p				{font-family: tahoma,arial,Geneva,Helvetica,sans-serif;}	
th					{text-align:left;font-weight:normal;}	
b,.b 				{font-weight:bold;}
.text_bold 			{font-weight:bold;}
.h3,h3,.subhead		{font-size:90%;line-height:120%;font-family:arial,geneva,helvetica,sans-serif;}	
.pagedivider		{font-size:90%;line-height:120%;font-family:arial,geneva,helvetica,sans-serif;}	

.input 				{width:250px;}
.error 				{color:red;}
.success 			{color:green;}

.itemsml 			{FONT-FAMILY: Verdana, Geneva, Arial, sans-serif; FONT-SIZE: 65%; LINE-HEIGHT: 150%; font-weight: bold; color:#333399;}
.headline			{font-family:arial;font-size:85%; color:6699cc; font-weight:bold;}

.FundoBranco		{background:#ffffff;}

IMG					{border-width:0;}

.Titulo				{font-family: Arial; font-size: 12; color:darkblue;}

.div				{font-size:11px; border-style:solid; border-width:1px; border-color:#666666; height:12px; background-color:#ffffff; padding:2px;}
.caixa-texto		{font-size:11px;font-family: tahoma,arial,Geneva,Helvetica,sans-serif; border-style:solid; border-width:1px; border-color:#666666;}
.linha				{border-left:0; border-top:0; border-right:0; border-bottom-style:solid; border-bottom-width:1pt;}