/* Copyright notice */

body, td{
	font-size: 12px;
	font-family: Verdana, sans-serif;
	white-space: nowrap;
	margin: 5px
}

#treeContainer{
	margin: 0px;
	padding: 0px
}

img{
	vertical-align: middle;
	border: 0px;
}

img.action{
	cursor: pointer;
}

a{
	text-decoration: none
}

table.menu{
	background-color: #ffffff;
	border: 1px solid #999999
}

a:link{
	color: Navy;
}

a:visited{
	color: #666666;
}

a:hover{
	color: #993300;
}

a.tree{
	margin-left: 0px
}




td
{
	color: #666666;
	font-family: Verdana
}
.typename
{
	color: #888888
}
td.variable
{
	font-size: 12px;
	font-family: Verdana
}
td.description
{
	font-size: 12px;
	font-family: Verdana;
	color: #888888
}	
td.title
{
	background-color: #77aadd;
	color: white;
	font-weight: bold;
	padding: 3px;
	font-size: 12px
}
td.code
{
	font-family: Courier New;
	font-size: 12px;
	background-color: #fefefe;
	width: 300px;
	border: 1px solid #888888;
	padding: 10px;
	color: #003366
}
input.code
{
	font-size: 12px;
	font-family: Courier New;
	width: 100%;
	color: #666666
}
textarea
{
	color: #888888
}
a:link
{
	color: #666666;
}
a:visited
{
	color: #666666;
}
a:hover
{
	color: #993300;
	font-weight: bould;
}