<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	publicadoranuncio</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		UploadArquivo</display-name>
		<servlet-name>UploadArquivo</servlet-name>
		<servlet-class>
		controle.UploadArquivo</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
		ControlePrincipal</display-name>
		<servlet-name>ControlePrincipal</servlet-name>
		<servlet-class>
		controle.ControlePrincipal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleAnuncio</display-name>
		<servlet-name>ControleAnuncio</servlet-name>
		<servlet-class>
		controle.ControleAnuncio</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleUsuario</display-name>
		<servlet-name>ControleUsuario</servlet-name>
		<servlet-class>
		controle.ControleUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleCagetoria</display-name>
		<servlet-name>ControleCagetoria</servlet-name>
		<servlet-class>
		controle.ControleCagetoria</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleDetalhes</display-name>
		<servlet-name>ControleDetalhes</servlet-name>
		<servlet-class>
		controle.ControleDetalhes</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleComentario</display-name>
		<servlet-name>ControleComentario</servlet-name>
		<servlet-class>
		controle.ControleComentario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleAcompanha</display-name>
		<servlet-name>ControleAcompanha</servlet-name>
		<servlet-class>
		controle.ControleAcompanha</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleSimilar</display-name>
		<servlet-name>ControleSimilar</servlet-name>
		<servlet-class>
		controle.ControleSimilar</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleLiberacao</display-name>
		<servlet-name>ControleLiberacao</servlet-name>
		<servlet-class>
		controle.ControleLiberacao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleVencidos</display-name>
		<servlet-name>ControleVencidos</servlet-name>
		<servlet-class>
		controle.ControleVencidos</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleConta</display-name>
		<servlet-name>ControleConta</servlet-name>
		<servlet-class>
		controle.ControleConta</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleMenuPrincipal</display-name>
		<servlet-name>ControleMenuPrincipal</servlet-name>
		<servlet-class>
		controle.ControleMenuPrincipal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleImagem</display-name>
		<servlet-name>ControleImagem</servlet-name>
		<servlet-class>
		controle.ControleImagem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleLiberarAnuncio</display-name>
		<servlet-name>ControleLiberarAnuncio</servlet-name>
		<servlet-class>
		controle.ControleLiberarAnuncio</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleBanco</display-name>
		<servlet-name>ControleBanco</servlet-name>
		<servlet-class>
		controle.ControleBanco</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleArvore</display-name>
		<servlet-name>ControleArvore</servlet-name>
		<servlet-class>
		controle.ControleArvore</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ConteudoDetalhes</display-name>
		<servlet-name>ConteudoDetalhes</servlet-name>
		<servlet-class>
		controle.ConteudoDetalhes</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleAnuncioVencido</display-name>
		<servlet-name>ControleAnuncioVencido</servlet-name>
		<servlet-class>
		controle.ControleAnuncioVencido</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleAlterarValor</display-name>
		<servlet-name>ControleAlterarValor</servlet-name>
		<servlet-class>
		controle.ControleAlterarValor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleResponder</display-name>
		<servlet-name>ControleResponder</servlet-name>
		<servlet-class>
		controle.ControleResponder</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleRelatorioUsuario</display-name>
		<servlet-name>ControleRelatorioUsuario</servlet-name>
		<servlet-class>
		controle.ControleRelatorioUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleRelatorioPagamento</display-name>
		<servlet-name>ControleRelatorioPagamento</servlet-name>
		<servlet-class>
		controle.ControleRelatorioPagamento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleAcomapanhaCategoria</display-name>
		<servlet-name>ControleAcomapanhaCategoria</servlet-name>
		<servlet-class>
		controle.ControleAcomapanhaCategoria</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleAcompanhaCategoria</display-name>
		<servlet-name>ControleAcompanhaCategoria</servlet-name>
		<servlet-class>
		controle.ControleAcompanhaCategoria</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleRelatorioMaisVisitados</display-name>
		<servlet-name>ControleRelatorioMaisVisitados</servlet-name>
		<servlet-class>
		controle.ControleRelatorioMaisVisitados</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleRelatorioLibBloq</display-name>
		<servlet-name>ControleRelatorioLibBloq</servlet-name>
		<servlet-class>
		controle.ControleRelatorioLibBloq</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControlePagamento</display-name>
		<servlet-name>ControlePagamento</servlet-name>
		<servlet-class>
		controle.ControlePagamento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControleRenovacao</display-name>
		<servlet-name>ControleRenovacao</servlet-name>
		<servlet-class>
		controle.ControleRenovacao</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadArquivo</servlet-name>
		<url-pattern>/UploadArquivo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlePrincipal</servlet-name>
		<url-pattern>/ControlePrincipal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleAnuncio</servlet-name>
		<url-pattern>/ControleAnuncio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleUsuario</servlet-name>
		<url-pattern>/ControleUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleCagetoria</servlet-name>
		<url-pattern>/ControleCagetoria</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleDetalhes</servlet-name>
		<url-pattern>/ControleDetalhes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleComentario</servlet-name>
		<url-pattern>/ControleComentario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleAcompanha</servlet-name>
		<url-pattern>/ControleAcompanha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleSimilar</servlet-name>
		<url-pattern>/ControleSimilar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleLiberacao</servlet-name>
		<url-pattern>/ControleLiberacao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleVencidos</servlet-name>
		<url-pattern>/ControleVencidos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleConta</servlet-name>
		<url-pattern>/ControleConta</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleMenuPrincipal</servlet-name>
		<url-pattern>/ControleMenuPrincipal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleImagem</servlet-name>
		<url-pattern>/ControleImagem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleLiberarAnuncio</servlet-name>
		<url-pattern>/ControleLiberarAnuncio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleBanco</servlet-name>
		<url-pattern>/ControleBanco</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleArvore</servlet-name>
		<url-pattern>/ControleArvore</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConteudoDetalhes</servlet-name>
		<url-pattern>/ConteudoDetalhes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleAnuncioVencido</servlet-name>
		<url-pattern>/ControleAnuncioVencido</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleAlterarValor</servlet-name>
		<url-pattern>/ControleAlterarValor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleResponder</servlet-name>
		<url-pattern>/ControleResponder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleRelatorioUsuario</servlet-name>
		<url-pattern>/ControleRelatorioUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleRelatorioPagamento</servlet-name>
		<url-pattern>/ControleRelatorioPagamento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleAcomapanhaCategoria</servlet-name>
		<url-pattern>/ControleAcomapanhaCategoria</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleAcompanhaCategoria</servlet-name>
		<url-pattern>/ControleAcompanhaCategoria</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleRelatorioMaisVisitados</servlet-name>
		<url-pattern>/ControleRelatorioMaisVisitados</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleRelatorioLibBloq</servlet-name>
		<url-pattern>/ControleRelatorioLibBloq</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlePagamento</servlet-name>
		<url-pattern>/ControlePagamento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleRenovacao</servlet-name>
		<url-pattern>/ControleRenovacao</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
